<nav class="navbar navbar-dark justify-content-between flex-nowrap flex-row" style="padding-left:10%;">
    <a class="navbar-brand d-none d-sm-block">
      <img src="assets/img/logo/logo.png">
    </a>
    <ul class="navbar-nav flex-row mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">
          <i class="fa fa-info-circle"></i>About</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="menu" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="menu">Item 1</a>
            <a class="dropdown-item" routerLink="menu">Item 2</a>
            <a class="dropdown-item" routerLink="menu">Item 3</a>
          </div>
        </li>      
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
</nav>

<header class="left-padding-content" style="padding-right:30%;">
  <div>
    <div>
      <div>
        <h1>Ristorante Il Fornello</h1>
        <p class="header-info">Simple, fresh ingredients, prepared and cooked with love and passion become truly great dishes, from wood-oven baked
          Neapolitan style pizzas to pastas, entrees!</p>
      </div>
      <div>
      </div>
    </div>
  </div>
</header>