<footer>
  <div class="footer-container">
    <div style="display:flex; flex-flow: row wrap; align-items: flex-start;justify-content:space-around;">
      <div>
          <div style="text-align: left;">
            <h5>Links</h5>
            <ul>
              <li>
                <a routerLink="home">Home</a>
              </li>
              <li>
                <a routerLink="about">About</a>
              </li>
              <li>
                <a routerLink="menu">Menu</a>
              </li>
              <li>
                <a routerLink="contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
      <div>
          <div style="text-align: left;">
              <h5>Our Address</h5>
              <address>
                214, King Street West
                <br> Downtown, Toronto
                <br> ONTARIO
                <br>
                <i class="fa fa-phone"></i> +416 1234 5678
                <br>
                <i class="fa fa-fax"></i> +416 8765 4321
                <br>
                <i class="fa fa-envelope"></i>
                <a href="mailto:ilfornello@food.net"> ilfornello@food.net</a>
              </address>
            </div>
      </div>
      <div style="flex-basis:50%;align-self: center">
          <div class="social-links">
              <a href="http://google.com/+">
                <img src="assets/img/social/google+.png">
              </a>
              <a href="http://www.facebook.com/profile.php?id=">
                <img src="assets/img/social/facebook.png">
              </a>
              <a href="http://www.linkedin.com/in/">
                <img src="assets/img/social/linkedin.png">
              </a>
              <a href="http://twitter.com/">
                <img src="assets/img/social/twitter.png">
              </a>
              <a href="http://youtube.com/">
                <img src="assets/img/social/youtube.png">
              </a>
              <a href="mailto:">
                <img src="assets/img/social/email.png">
              </a>
            </div>        
      </div>

    </div>
   
    <div class="row">
<!--       
      <div class="col-sm-3 col-xs-6" style="padding-left: 40px;padding-right: 0;">
        <div style="text-align: left;">
          <h5>Links</h5>
          <ul>
            <li>
              <a routerLink="home">Home</a>
            </li>
            <li>
              <a routerLink="about">About</a>
            </li>
            <li>
              <a routerLink="menu">Menu</a>
            </li>
            <li>
              <a routerLink="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6" style="text-align: center;">
        <div style="text-align: left;">
          <h5>Our Address</h5>
          <address>
            214, King Street West
            <br> Downtown, Toronto
            <br> ONTARIO
            <br>
            <i class="fa fa-phone"></i> +416 1234 5678
            <br>
            <i class="fa fa-fax"></i> +416 8765 4321
            <br>
            <i class="fa fa-envelope"></i>
            <a href="mailto:ilfornello@food.net"> ilfornello@food.net</a>
          </address>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12" style="text-align: center;">
        <div class="social-links">
          <a href="http://google.com/+">
            <img src="assets/img/social/google+.png">
          </a>
          <a href="http://www.facebook.com/profile.php?id=">
            <img src="assets/img/social/facebook.png">
          </a>
          <a href="http://www.linkedin.com/in/">
            <img src="assets/img/social/linkedin.png">
          </a>
          <a href="http://twitter.com/">
            <img src="assets/img/social/twitter.png">
          </a>
          <a href="http://youtube.com/">
            <img src="assets/img/social/youtube.png">
          </a>
          <a href="mailto:">
            <img src="assets/img/social/email.png">
          </a>
        </div>
      </div>
    -->
      <div class="col-sm-12">
        <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
      </div>
    </div>
  </div>
</footer>