<div>
  <div class="row"> <!-- Candidate for a separate component -->
      <div class="col-sm-9">
        <h2 class="info-title">Fichipizza</h2>
        <p class="info-text">A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado,
          honey and arugula.</p>
        <p class="info-more">
          <a href="javascript:void(0);">More &raquo;</a>
        </p>       
      </div>
      <div class="col-sm-3 info-side">
        <h3 align=center>Our Unique Culinary Creations</h3>
      </div>
  </div>
  <hr>

  <div class="row">
      <div class="col-sm-3 info-side">
          <h3 align=center>This Month's Promotions</h3>
      </div>    
      <div class="col-sm-9">
        <h2 class="info-title">Weekend Grand Buffet</h2>
        <p class="info-text">Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees
            and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person</p>
        <p class="info-more">
          <a href="javascript:void(0);">More &raquo;</a>
        </p>       
      </div>
  </div>
  <hr>

  <div class="row">
      <div class="col-sm-9">
        <h2 class="info-title">Tommy McHugh</h2>
        <h4 class="info-subtitle">Executive Chef</h4>
        <p class="info-text">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the
            culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>
        <p class="info-more">
          <a href="javascript:void(0);">More &raquo;</a>
        </p>       
      </div>
      <div class="col-sm-3 info-side">
        <h3 align=center>Meet our Culinary Specialists</h3>
      </div>
  </div>
</div>
<hr>

<app-menu-list></app-menu-list>